.basic-btn {
    width: 150px;
    height: 50px;
    margin: 20px;
    border-radius: 5px;
    background-color: #8498D6;
    color: white;
    border: none;
}

.frame {
    background-color: transparent;
    border: 4px solid #8498D6;
    color: #8498D6;
}

.solid-green {
    background-color:#1fce9c ;
    color: white;
    border: none;
}


